.venv/
*.pyc
__pycache__/
spark-warehouse/
intro_pyspark.ipynb
.DS_Store
outputs/
img/spark_pyspark.jpeg
data/
notebook/databricks_stateless.ipynb
notebook/yellow_taxi_analysis_databricks.zip
requirements.txt